# WPGraphQL
WPGRAPHQL_URL=https://gatsby-demo-wp.ddev.site/wp/graphql
WP_BASE_URL=gatsby-demp-wp.ddev.site

# Gatsby
GATSBY_CONCURRENT_DOWNLOAD=200

# Contentful
CONTENTFUL_ACCESS_TOKEN=

# Add this if you SSL certificate is self-signed (for local development)
#NODE_TLS_REJECT_UNAUTHORIZED=0

# InfluxDB configuration for component statistics
GATSBY_INFLUX_URL=
GATSBY_INFLUX_TOKEN=
GATSBY_INFLUX_ORG=
GATSBY_INFLUX_BUCKET=

# kickstart env
# environment for js and css bundling [development|production]
NODE_ENV=production
