/* prevent top of anchor target and bottom of header on same position */
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/**
 * # Global z-index defintion
 */
/**
 * # Selectors
 */
/**
 * ## Clearlist
 */
/**
 * ## Vertical Centerer
 */
/**
 * ## Horzontal Centerer
 */
/**
 * ## Vertical and Horizontal Centerer
 */
/**
 * ## Type Reset
 */
/**
 * ## Don't print
 */
/**
 * ## Handling Long Words and URLs
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
 */
/**
 * # Detect IE Browsers
 */
/**
 * # Business Card
 */
.business-card__item {
  flex-direction: column;
  align-items: stretch;
  border: 1px solid rgba(5, 5, 5, 0.1);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
.business-card__item__image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}
.business-card__item__box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 auto;
  padding: 1.5em 1em;
}
.business-card__logo {
  max-width: 11.65em;
  height: auto;
  margin-bottom: 2em;
}
.business-card__topic {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 700;
  color: #050505;
  margin: 0 0 0.5em 0;
}
.business-card__text__item p:last-child {
  margin: 0;
}
.business-card__contact-person {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}
.business-card__contact-person__img img {
  border-radius: 100%;
  max-width: 3.5em;
  height: auto;
}
.business-card__contact-person__name {
  padding-left: 1em;
  text-align: left;
  line-height: 1.2;
}
.business-card__contact {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 1.5em 0;
}
.business-card__contact li {
  margin: 0;
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  margin-bottom: 0.5em;
}
.business-card__contact li:last-child {
  margin-bottom: 0;
}
.business-card__contact a {
  text-decoration: none;
}
.business-card__contact__icon {
  height: 1em;
  width: 1em;
  fill: currentColor;
  vertical-align: middle;
  margin-right: 0.3em;
}
.business-card__link {
  display: flex;
  justify-content: center;
  width: auto;
  flex-flow: row wrap;
}
.business-card__link .button {
  margin: 0.1em;
}

/**
 * container mixins
 */
/**
 * column/cell mixins
 */
/**
 * # Business Card
 */
.business-card {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.business-card__column {
  align-items: stretch;
  display: flex;
}
.business-card-wrap--col-2 .business-card__column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((550px - 100%) * 999);
  min-width: 50%;
}
.business-card-wrap--col-3 .business-card__column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((650px - 100%) * 999);
  min-width: 33.3333333333%;
}
.l-section--bg-1 .business-card__item {
  border-color: rgba(5, 5, 5, 0.15);
}
.business-card-wrap--col-1 .business-card__item {
  width: 100%;
}
.business-card-wrap--col-2 .business-card__item, .business-card-wrap--col-3 .business-card__item {
  display: flex;
}
.business-card-wrap--col-1 .business-card__item__box {
  font-size: 1em;
}
.business-card-wrap--col-2 .business-card__item__box {
  font-size: 1em;
}
.business-card-wrap--col-3 .business-card__item__box {
  font-size: 1em;
}
@media (min-width: 40em) {
  .business-card__item__box {
    padding: 2em 1em;
  }
  .business-card__logo {
    max-width: 11em;
  }
  .business-card-wrap--col-1 .business-card__item__box {
    font-size: 118.75%;
  }
  .business-card-wrap--col-3 .business-card__item__box {
    font-size: 0.75em;
  }
}
@media (min-width: 60em) {
  .business-card-wrap--col-2 .business-card__item__box {
    font-size: 0.85em;
  }
  .business-card-wrap--col-3 .business-card__item__box {
    font-size: 0.85em;
  }
}
/*# sourceMappingURL=business-card.css.map */