/* prevent top of anchor target and bottom of header on same position */
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/**
 * # Global z-index defintion
 */
/**
 * # Selectors
 */
/**
 * ## Clearlist
 */
/**
 * ## Vertical Centerer
 */
/**
 * ## Horzontal Centerer
 */
/**
 * ## Vertical and Horizontal Centerer
 */
/**
 * ## Type Reset
 */
/**
 * ## Don't print
 */
/**
 * ## Handling Long Words and URLs
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
 */
/**
 * # Detect IE Browsers
 */
.real-estate-sort {
  margin: 0;
  align-items: flex-end;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.real-estate-sort .form-label {
  flex: 1;
  text-align: right;
  font-weight: 400;
  margin: 0.2em 0.2em 0;
  font-size: 1em;
}
.real-estate-sort__select {
  text-align: right;
  -moz-text-align-last: right;
       text-align-last: right;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-position-y: 50%;
  width: auto;
}

.shortlist-count {
  font-style: normal;
}
.shortlist-count:empty {
  display: none;
}

.shortlist-counter__icon {
  height: 100%;
  width: 100%;
}
.shortlist-counter__value {
  background-color: #333333;
  color: #fff;
  display: block;
  position: absolute;
  bottom: -0.25em;
  right: -0.25em;
  line-height: 1;
  font-size: 0.8em;
  border-radius: 0.8em;
  padding: 0.125em 0.25em;
  text-align: center;
  min-width: 1.5em;
}

.real-estate-placehoderimage {
  background: rgba(5, 5, 5, 0.07);
}

.real-estate-card {
  font-size: 0.9em;
}
.real-estate-card--clickable:hover .real-estate-card__inner {
  cursor: pointer;
}
.real-estate-card__inner {
  background: #fff;
  box-shadow: none;
  border: none;
  height: 100%;
}
.real-estate-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.real-estate-card__preview__inner {
  position: relative;
  padding-bottom: 75%;
}
.real-estate-card__preview__inner img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.real-estate-card__body {
  padding: 1em;
  flex-grow: 1;
}
.real-estate-card__body__content > :last-child {
  margin-bottom: 0;
}
.real-estate-card__title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: top;
  margin-bottom: 0.75em;
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
  color: inherit;
}
.real-estate-card__attributes {
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;
}
.real-estate-card__attributes > div {
  margin-right: 5%;
}
.real-estate-card__attributes > div:last-child {
  margin-right: 0;
}
.real-estate-card__attributes__primary dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.real-estate-card__attributes__primary dt {
  font-weight: 700;
  font-size: 1.1em;
  color: inherit;
}
.real-estate-card__attributes__primary dd {
  margin: 0;
  font-weight: 400;
  font-size: 0.8em;
  color: rgba(5, 5, 5, 0.5);
}
.real-estate-card__attributes__secondary {
  display: flex;
  align-items: center;
}
.real-estate-card__attributes__secondary .icon {
  height: 1.25em;
  width: 1.25em;
  margin-right: 0.25em;
}
.real-estate-card__footer {
  padding: 1em;
  padding-top: 0;
  display: flex;
}
.real-estate-card__toggle-favourite {
  margin-left: auto;
  color: #333333;
  padding: 0.35em;
}
.real-estate-card__toggle-favourite__icon-active {
  display: none;
}
.real-estate-card__toggle-favourite[aria-pressed=true] .real-estate-card__toggle-favourite__icon-active {
  display: inline-block;
}
.real-estate-card__toggle-favourite[aria-pressed=true] .real-estate-card__toggle-favourite__icon-inactive {
  display: none;
}
.real-estate-card__toggle-favourite .icon {
  height: 1.5em;
  width: 1.5em;
}

/**
 * container mixins
 */
/**
 * column/cell mixins
 */
.real-estate-list-meta {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
  font-size: 0.65em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
  white-space: nowrap;
}
.real-estate-list-meta > * {
  width: auto;
}
.real-estate-filter__date-range, .real-estate-filter__price-range, .real-estate-filter__level-range {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.real-estate-filter__date-range > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((16rem - 100%) * 999);
}
.real-estate-filter__number-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.real-estate-filter__number-wrapper > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((11rem - 100%) * 999);
  width: auto;
  margin: 0;
  min-width: auto;
}
.real-estate-filter__number-wrapper .number-input {
  justify-content: flex-end;
}

.real-estate-request__summary {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.real-estate-request__summary > * {
  width: 50%;
}
.real-estate-request__title {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 1em;
}
.real-estate-request__date-range-title {
  font-size: 1em;
}
.real-estate-request__date-range th {
  font-weight: 400;
}
.real-estate-request__name-row {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.real-estate-request__name-row > * {
  width: 50%;
}

.real-estate-teaser {
  padding: 1rem;
  background-color: rgba(5, 5, 5, 0.1);
}
.real-estate-teaser__inner {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.real-estate-teaser__header {
  margin: 0;
}
.real-estate-teaser__form {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.real-estate-teaser__city {
  flex-grow: 1;
}
.real-estate-teaser__date-range-wrapper {
  flex-grow: 2;
}
.real-estate-teaser__cta {
  flex-grow: 1;
}
.real-estate-teaser__cta .button {
  width: 100%;
}
.real-estate-actions__overlay {
  bottom: 3.7rem;
  height: auto;
  color: inherit;
}
.real-estate-actions .overlay__inner {
  min-height: 100%;
  justify-content: center;
  padding-top: 0.666rem;
}
.real-estate-actions__form {
  position: relative;
  background: #e6e6e6;
  width: 100%;
  padding: 3rem 1.5rem 2rem;
  max-width: 22rem;
}
.real-estate-actions__headline {
  font-weight: 400;
}
.real-estate-actions__sticky__inner {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.real-estate-actions__btn-wrapper--share-m, .real-estate-actions__btn-wrapper--print {
  display: none;
}
.real-estate-actions__btn {
  width: 100%;
  justify-content: center;
  font-size: 0.8em;
}
.real-estate-actions__btn::after {
  margin: 0;
}
.real-estate-actions__favourite {
  margin-left: auto;
}
.real-estate-actions__favourite[aria-pressed=true] .real-estate-actions__favourite__icon-active {
  display: inline-block;
}
.real-estate-actions__favourite[aria-pressed=true] .real-estate-actions__favourite__icon-inactive {
  display: none;
}
.real-estate-actions__favourite__icon-active {
  display: none;
}

.real-estate-image-slide {
  display: flex;
  position: relative;
}
.real-estate-image-slide::before {
  content: "";
  float: left;
  padding-top: 75%;
}
.real-estate-image-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.real-estate-image-slide figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
}

.real-estate-image-slide--preview {
  margin: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.3;
  transition: 0.3s;
}
.slider-nav__slide:hover .real-estate-image-slide--preview, .slider-nav__slide:focus .real-estate-image-slide--preview, .slider-nav__slide--active .real-estate-image-slide--preview {
  opacity: 1;
}
.real-estate-image-slide--preview img {
  width: 100%;
}

.real-estate-attributes-primary {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1.5em;
  background: rgba(5, 5, 5, 0.05);
}
.real-estate-attributes-primary > div {
  margin-right: 5%;
}
.real-estate-attributes-primary > div:last-child {
  margin-right: 0;
}
.real-estate-attributes-primary__item dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.real-estate-attributes-primary__item dt {
  font-weight: 700;
  font-size: 1.1em;
  color: inherit;
}
.real-estate-attributes-primary__item dd {
  margin: 0;
  font-weight: 400;
  font-size: 0.8em;
  color: rgba(5, 5, 5, 0.5);
}
.real-estate-attributes-primary-data {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 auto;
}
.real-estate-attributes-primary-data__item {
  display: flex;
  margin-right: 2em;
  margin-bottom: 1.5em;
}
.real-estate-attributes-primary-data__item--address {
  margin: 0;
}
.real-estate-attributes-primary-data__item__icon {
  margin-right: 1em;
}
.real-estate-attributes-primary-data table tr td:first-child {
  color: rgba(5, 5, 5, 0.5);
  padding-right: 1em;
}
.real-estate-attributes-secondary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.real-estate-attributes-secondary__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  background: rgba(5, 5, 5, 0.05);
  width: 48%;
}
.real-estate-attributes-secondary__item:first-child {
  margin: 0;
}
.real-estate-attributes-secondary__item__icon {
  font-size: 0.8em;
  margin-right: 1em;
}
.real-estate-attributes-secondary__item__value {
  font-size: 1.25em;
  font-weight: 700;
}
.real-estate-attributes-secondary__item__description {
  width: 100%;
  color: rgba(5, 5, 5, 0.5);
  text-align: center;
}
.real-estate-attributes-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.real-estate-attributes-list__item {
  display: flex;
  width: 48%;
  align-items: center;
  margin-bottom: 1em;
}
.real-estate-attributes-list__item__icon {
  font-size: 0.8em;
  margin-right: 0.75em;
}
.real-estate-attributes-list__item__text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.real-estate-location__address {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.real-estate-location__address__icon {
  margin-right: 1em;
}

.real-estate-btn-print {
  float: right;
}
.real-estate-cards--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin: -0.375rem;
}
.real-estate-cards--list > * {
  padding: 0.375rem;
  background-clip: content-box;
}

.real-estate-cards-slider .slider__slides {
  align-items: stretch;
}
.real-estate-cards-slider .slider__slide {
  height: auto;
}
.real-estate-cards-slider .real-estate-card {
  height: 100%;
  margin-bottom: 0;
}
.real-estate-cards-slider .slider-nav {
  margin-top: 1em;
}

.real-estate-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}

.real-estate-image-slider .slider-nav__slides {
  margin-top: 1em;
}

.real-estate-detail {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
}
.real-estate-detail__section {
  margin-bottom: 2em;
}
.real-estate-detail__more {
  text-align: center;
}
@media (min-width: 23em) {
  .real-estate-card {
    font-size: 1em;
  }
}
@media (min-width: 40em) {
  .real-estate-teaser__form {
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  .real-estate-teaser__form > * {
    width: auto;
    flex-basis: 0;
  }
  .real-estate-teaser__date-range {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    box-sizing: border-box;
  }
  .real-estate-actions__form {
    padding: 3rem;
  }
  .real-estate-cards {
    font-size: 0.7em;
  }
  .real-estate-cards-slider .slider-nav {
    margin-top: 2em;
  }
  .real-estate-image-slider .slider-nav__slides {
    justify-content: flex-start;
  }
  .real-estate-image-slider .slider-nav__slide {
    width: calc(99% / 7);
  }
  .real-estate-image-slider .slider__bullet {
    display: none;
  }
  .real-estate-detail__section {
    margin-bottom: 3em;
  }
}
@media (min-width: 40.01em) {
  .real-estate-attributes-primary-data__item--address {
    flex-grow: 1;
    justify-content: center;
  }
}
@media (min-width: 60em) {
  .real-estate-card--clickable:hover .real-estate-card__inner {
    background: rgba(5, 5, 5, 0.07);
    box-shadow: none;
  }
  .real-estate-actions {
    background: #e6e6e6;
  }
  .real-estate-actions__overlay {
    display: block !important;
    position: relative;
    z-index: inherit;
    background: inherit;
  }
  .real-estate-actions .overlay__inner {
    padding: 1rem;
  }
  .real-estate-actions .overlay__close {
    display: none;
  }
  .real-estate-actions__form {
    max-width: 100%;
    padding: 0;
  }
  .real-estate-actions__sticky {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .real-estate-actions__btn-wrapper--share, .real-estate-actions__btn-wrapper--trigger {
    display: none;
  }
  .real-estate-actions__btn-wrapper--share-m, .real-estate-actions__btn-wrapper--print {
    display: block;
  }
  .real-estate-actions__btn {
    font-size: 1em;
  }
  .real-estate-attributes-primary-data {
    justify-content: space-between;
  }
  .real-estate-attributes-primary-data__item {
    width: 48%;
    margin: 0;
  }
  .real-estate-attributes-secondary__item__description {
    margin-left: 1em;
    width: auto;
  }
  .l-main-wrap--narrow .real-estate-cards {
    font-size: 0.8em;
  }
  .real-estate-list .real-estate-cards {
    font-size: 0.8em;
  }
}
@media (max-width: 59.99em) {
  .real-estate-actions .overlay__inner {
    padding-bottom: 0.666rem;
  }
  .real-estate-actions__sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.666rem;
    z-index: 5001;
    background-color: white;
    border-top: 1px solid #dadada;
  }
}
@media (max-width: 39.99em) {
  .real-estate-image-slider .real-estate-image-slide--preview {
    display: none;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .real-estate-cards--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .real-estate-cards--list > * {
    width: 300px;
    height: auto;
  }
}
@media print {
  .real-estate-card__footer {
    display: none;
  }
  .real-estate-filter {
    display: none;
  }
  .real-estate-attributes-primary {
    background: none;
    border: 1px solid;
  }
  .real-estate-attributes-secondary__item {
    background: none;
    border: 1px solid;
  }
  .real-estate-location .location-map {
    max-width: 50%;
  }
  .real-estate-detail__sidebar {
    display: none;
  }
}
/*# sourceMappingURL=real-estate.css.map */